.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(80, 54, 88, 0.911);
    color: white;
    text-align: center;
 }

 .email:hover{
    color:rgb(64, 3, 90)
 }
 .links,.email{
     margin:8px;
     color:ivory;
 }
 .links:hover{
     color:rgb(64, 3, 90)
 }